/*  
selector {  
property: value;  
}  
*/  
header,footer {
  background:black;
  color:white;
  text-align: center;
  padding: 10px;
}
nav {
  line-height: 20px;
  background: #cccccc;
  height: 600px;
  width: 120px;
  float: left;
  padding: 5px;
}

section {
  width: 330px;
  float: left;
  padding: 15px;
}


a {
  color: green;
  text-decoration: none;
}

a:hover {
  color: yellow;
  
}

img {
  height: 200px;
  width: 200px;
}
#circle-picture {
  border-radius: 100px;
  height: 200px;
  width: 200px;
}

#GnR-circle {
  border-radius: 100px;
  height: 200px;
  width: 200px;
}

ul {
     list-style-image: square inside url("/img/GnR.jpg");
     Height: 20px;
     width:20px;
}

footer {
  clear: both;
  padding: 5px;
}


